# ---------------------------------------------------------------------------- #
#                     env.example file                                         #
# ---------------------------------------------------------------------------- #

# ---------------------------------------------------------------------------- #
# Copy/modify to .env for localhost web app
# Copy to .env.testing running unit tests
# ---------------------------------------------------------------------------- #

# ---------------------------- Application Settings -------------------------- #
#APP_ENV=server
APP_ENV=local
APP_DEBUG=false
APP_KEY=...
APP_URL=
APP_FULL_NAME="Fans Dev"

# ----------------------- Database Connection Settings ----------------------- #
DB_CONNECTION=primary
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fans_platform_dev
DB_USERNAME=
DB_PASSWORD=

# ---------------------------- Financial Database ---------------------------- #
DB_FINANCIAL_HOST=127.0.0.1
DB_FINANCIAL_PORT=3306
DB_FINANCIAL_DATABASE=fans_platform_financial_dev
DB_FINANCIAL_USERNAME=
DB_FINANCIAL_PASSWORD=
DB_FINANCIAL_PREFIX= # Use this is you are using the same database as primary



# --- Unit test will use .env.testing; in this file use these settings instead:
# DB_CONNECTION=primary
# DB_DRIVER=sqlite
# DB_DATABASE=":memory:"
# DB_FINANCIAL_DRIVER=sqlite
# DB_FINANCIAL_DATABASE=":memory:"
# DB_FINANCIAL_PREFIX="financial_"

# --------------------------- AWS Keys and Settings -------------------------- #
#new
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION="us-east-1"
AWS_BUCKET="fansplatform-localhost-..."

# ---------------- Laravel Cache, Session, and Queue Settings ---------------- #
CACHE_DRIVER=array
SESSION_DRIVER=database
SESSION_LIFETIME=86400
#QUEUE_DRIVER=sync
QUEUE_DRIVER=database

# ------------------------------- Mail Settings ------------------------------ #
MAIL_DRIVER=log
MAILGUN_DOMAIN= 
MAILGUN_SECRET= 
MAIL_FROM=
MAIL_FROM_ADDRESS=peter@peltronic.com
MAIL_FROM_NAME="AllFans Localhost Dev"

# ----------------------- Pusher / Websockets Settings ----------------------- #
BROADCAST_DRIVER=app
PUSHER_APP_ID=1101923
PUSHER_APP_KEY=test
PUSHER_APP_SECRET=...
PUSHER_APP_CLUSTER=us2
PUSHER_APP_HOST="http://localhost:8000"
MIX_PUSHER_APP_ID=1101923
MIX_PUSHER_APP_KEY=test
MIX_PUSHER_APP_CLUSTER=us2

# ----------------------- Segpay ----------------------- #
SEGPAY_FAKE=true
SEGPAY_PAYMENT_SESSIONS_TOKEN=
SEGPAY_WEBHOOK_USERNAME=
SEGPAY_WEBHOOK_PASSWORD=

# Disable the payment modal and display a warning message
TRANSACTIONS_DISABLE_ALL=false

# ----------------------------- Resource request limits ---------------------------- #

MAX_COMMENTS_PER_REQUEST=10
MAX_POSTS_PER_REQUEST=10
MAX_STORIES_PER_REQUEST=10
MAX_VAULTFOLDERS_PER_REQUEST=10
MAX_MEDIAFILES_PER_REQUEST=10
MAX_SUGGESTED_TIMELINES_PER_REQUEST=6
MAX_DEFAULT_PER_REQUEST=10

MIN_PASSWORD_CHAR_LENGTH=6

# ----------------------------- Misc. ---------------------------- #
LOG_CHANNEL=single
