// Animation classes

$speed-default: 0.3s;
$speed-quick: 0.15s;

.fade-enter-active,
.fade-leave-active {
  transition: opacity $speed-default ease;
}

.quick-fade-enter-active,
.quick-fade-leave-active {
  transition: opacity $speed-quick ease;
}

.fade-enter,
.fade-leave-to,
.quick-fade-enter,
.quick-fade-leave-to {
  opacity: 0;
}

// Icon flip
.icon-flip {
  // $perspective: 400px;
  $perspective: 5rem;

  &-right, &-left, &-up, &-down {
    &-leave-active {
      position: absolute;
    }
    &-enter-active,
    &-leave-active {
      transition: transform $speed-quick ease;
    }
    &-enter-active {
      transition-delay: $speed-quick;
    }
    &-enter-to, &-leave {
      transform: perspective($perspective) rotate3d(0, 0, 0, 0deg);
    }
  }

  &-right {
    &-enter {
      transform: perspective($perspective) rotate3d(0, 1, 0, -90deg);
    }
    &-leave-to {
      transform: perspective($perspective) rotate3d(0, 1, 0, 90deg);
    }
  }

  &-left {
    &-enter {
      transform: perspective($perspective) rotate3d(0, 1, 0, 90deg);
    }
    &-leave-to {
      transform: perspective($perspective) rotate3d(0, 1, 0, -90deg);
    }
  }

  &-up {
    &-enter {
      transform: perspective($perspective) rotate3d(1, 0, 0, -90deg);
    }
    &-leave-to {
      transform: perspective($perspective) rotate3d(1, 0, 0, 90deg);
    }
  }

  &-down {
    &-enter {
      transform: perspective($perspective) rotate3d(1, 0, 0, 90deg);
    }
    &-leave-to {
      transform: perspective($perspective) rotate3d(1, 0, 0, -90deg);
    }
  }
}

// Mobile sliding classes
.screen-slide {
  &-right, &-left, &-up, &-down {
    &-leave-active {
      position: absolute;
    }
  }
  &-right, &-left, &-up, &-down {
    &-enter-active,
    &-leave-active {
      transition: transform $speed-default cubic-bezier(0.215,0.61,0.355,1);
    }
  }

  &-right {
    &-enter-from {
      transform: translate3d(-100%, 0, 0);
    }
    &-leave-to {
      transform: translate3d(100%, 0, 0);
    }
  }

  &-left {
    &-enter-from {
      transform: translate3d(100%, 0, 0);
    }
    &-leave-to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  &-up {
    &-enter-from {
      transform: translate3d(0, 100%, 0);
    }
    &-leave-to {
      transform: translate3d(0, -100%, 0);
    }
  }

  &-down {
    &-enter-from {
      transform: translate3d(0, -100%, 0);
    }
    &-leave-to {
      transform: translate3d(0, 100%, 0);
    }
  }

}
