
$theme-colors: (
  "gray-light": #f3f3f3,
  "white": #fff,
);

html,
body {
  min-height: 100% !important;
  height: 100%;
}

.app {
  min-height: 100vh;
}

body {
  background-color: rgb(237, 242, 247) !important;
  font-family: 'Open Sans', sans-serif;
}

.tag-crate {
  /*
  border: solid 2px orange;
  */
}

body .btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    outline: none !important;
    border-radius: 25px;
}

body .small-text {
    font-size: 13px !important;
}

body .tag-clickable {
  cursor: pointer;
}

.static-page-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body .tag-ctrl .btn:focus {
  box-shadow: none;
}
