
$theme-colors: (
  "gray-light": #f3f3f3,
  "white": #fff,
);

html,
body {
  min-height: 100% !important;
  height: 100%;
}

.app {
  min-height: 100vh;
}

body {
  background-color: rgb(237, 242, 247) !important;
  font-family: 'Open Sans', sans-serif;
}

body .btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    outline: none !important;
    border-radius: 25px;
}

body .small-text {
    font-size: 13px !important;
}

body .tag-clickable {
  cursor: pointer;
}

.static-page-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body .tag-ctrl .btn:focus {
  box-shadow: none;
}

/* %%% superbox-post overrides for grid layout (do here as may span multiple Vue scopes) */

body .feed-crate .superbox-post .card-text {
}
body .feed-crate.tag-grid-layout .superbox-post .card-text {
  /* Note that text will be hidden if in grid view and post has mediafiles */
  -webkit-line-clamp: 12; /* manually adjusted so that the ellipsis will show in the grid height, but may not work in all circumstances ? */
}

body .feed-crate.tag-grid-layout .superbox-post .text-wrap {
  height: 20rem;
}

body .feed-crate.tag-grid-layout .superbox-post .text-wrap.tag-has-mediafiles {
  display: none; /* hide the text when in grid mode unless post is text-only */
}

/* In 'grid' view, normalize the height so that we don't get a variation messing up row alignment */
body .feed-crate.tag-grid-layout .superbox-post .carousel.slide .carousel-item,
body .feed-crate.tag-grid-layout .superbox-post .locked-content {
  height: 20rem;
}

body .feed-crate.tag-grid-layout .superbox-post .carousel.slide .carousel-item video,
body .feed-crate.tag-grid-layout .superbox-post .carousel.slide .carousel-item img {
  object-fit: cover;
  height: 20rem;
}

