
$theme-colors: (
  "gray-light": #f3f3f3,
  "white": #fff,
);

html,
body {
  min-height: 100% !important;
  height: 100%;
}

.app {
  min-height: 100vh;
}

body {
  background-color: rgb(237, 242, 247) !important;
  font-family: 'Open Sans', sans-serif;
}

body .btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    outline: none !important;
    border-radius: 25px;
}

body .small-text {
    font-size: 13px !important;
}

body .tag-clickable {
  cursor: pointer;
}

.static-page-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body .tag-ctrl .btn:focus {
  box-shadow: none;
}

/* %%% superbox-post overrides for grid layout (do here as may span multiple Vue scopes) */

body .feed-crate .superbox-post .card-text {
}
body .feed-crate.tag-grid-layout .superbox-post .card-text {
  /* Note that text will be hidden if in grid view and post has mediafiles */
  -webkit-line-clamp: 12; /* manually adjusted so that the ellipsis will show in the grid height, but may not work in all circumstances ? */
}

body .feed-crate.tag-grid-layout .superbox-post .text-wrap {
  height: 20rem;
}

body .feed-crate.tag-grid-layout .superbox-post .text-wrap.tag-has-mediafiles {
  display: none; /* hide the text when in grid mode unless post is text-only */
}

/* In 'grid' view, normalize the height so that we don't get a variation messing up row alignment */
body .feed-crate.tag-grid-layout .superbox-post .carousel.slide .carousel-item,
body .feed-crate.tag-grid-layout .superbox-post .locked-content {
  height: 20rem;
}

body .feed-crate.tag-grid-layout .superbox-post .carousel.slide .carousel-item video,
body .feed-crate.tag-grid-layout .superbox-post .carousel.slide .carousel-item img {
  object-fit: cover;
  height: 20rem;
}

#user-filter-dropdown .btn,
.filter-dropdown .btn,
#more-dropdown .btn {
  border: none;
  background-color: transparent !important;
  width: 24px;
  height: 24px;
  color: rgba(138,150,163,.75);
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#user-filter-dropdown .btn:after,
.filter-dropdown .btn:after,
#more-dropdown .btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 36px;
  height: 36px;
  transform: translate(-50%,-50%);
  transition: opacity .15s;
  pointer-events: none;
  opacity: 0;
  border-radius: 1000px;
  background-color: #0091ea;
  display: block;
  border: none;
  margin: 0;
}
#user-filter-dropdown .btn:hover,
#user-filter-dropdown .btn:focus,
.filter-dropdown .btn:hover,
.filter-dropdown .btn:focus,
#more-dropdown .btn:hover,
#more-dropdown .btn:focus {
  color: #0091ea;
  box-shadow: none;
}
#user-filter-dropdown .btn:hover:after,
.filter-dropdown .btn:hover:after,
#more-dropdown .btn:hover:after {
  opacity: 0.06;
}
#user-filter-dropdown .dropdown-item,
#more-dropdown .dropdown-item {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  margin: 0.8em 0.5em;
  background-color: transparent;
  transition: background-color .1s linear;
} 
.filter-dropdown .dropdown-item {
  padding:0 8px;
  margin: 0;
}
#user-filter-dropdown ul,
.filter-dropdown ul,
#more-dropdown ul {
  left: 0.3em !important;
  width: 250px;
}
#user-filter-dropdown ul a:hover,
.filter-dropdown ul a:hover,
#more-dropdown ul a:hover {
  color: #0091ea;
  border-radius: 4px;
  background-color: rgba(0,145,234,.06);
}
#user-filter-dropdown ul .block-item a:hover,
.filter-dropdown ul .block-item a:hover,
#more-dropdown ul .block-item a:hover {
  color: #ff6060;
  border-radius: 4px;
  background-color: rgba(255,96,96,.06);
}
#user-filter-dropdown ul li a:focus,
#user-filter-dropdown ul li a:active,
.filter-dropdown ul li a:focus,
.filter-dropdown ul li a:active,
#more-dropdown ul li a:focus,
#more-dropdown ul li a:active {
  color: #0091ea;
}
#user-filter-dropdown ul .block-item a:hover,
.filter-dropdown ul .block-item a:hover,
#more-dropdown ul li .block-item a:hover {
  background: transparent;
  color: #ff6060;
}
.filter-dropdown .g-input__wrapper.b-input-radio__wrapper {
  padding: 8px 8px;
  height: 48px;
  display: flex;
  align-items: center;
}
