.message-col-8 {
  height: 100%;
  .conversation-list {
    .messages {
      flex: 1;
      padding-bottom: 0.5em;
    }

  }
  .search-results {
    .search-results-count {
      font-size: 12px;
      margin-right: 8px;
    }
    .btn {
      margin: 0 2px !important;

      &:disabled svg {
        fill: gray;
      }

      &::after {
        width: 24px;
        height: 24px;
      }

      svg {
        display: block;
      }
    }
  }
}
.conversation-footer {
  input[type="file"] {
    display: none;
  }
  .action-btn[disabled="disabled"] {
    opacity: 0.65;
  }
  .sort-change-div {
    flex: 1;
    display: flex;
    align-items: center;
    .drag-element {
      width: 96px;
      margin: 0 4px;
      background: rgba(138,150,163,.12);
      border-radius: 6px;
      position: relative;
  
      &:last-child {
        margin-right: 0;
      }
      .img-wrapper {
        position: relative;
        img {
          margin: 0;
          width: 100%;
          max-width: unset;
          border-radius: 6px 6px 0 0;
          height: 96px;
          object-fit: cover;
        }
        .unchecked-circle,
        .checked-circle {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          border: 1px solid #fff;
          cursor: pointer;
        }
        .checked-circle {
          background: #00aff0;
          color: #fefefe;
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
          border: 1px solid #00aff0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .handle {
        color: rgba(138,150,163,.7);
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: none;
        background: none;
        cursor: pointer;
        svg {
          font-size: 24px;
          width: 1em;
          height: 1em;
          display: inline-block;
          fill: currentColor;
        }
      }
    }
  }
  .sort-action-btns {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        fill: #00aff0;
        width: 20px;
        height: 20px;
      }
      &:disabled {
        svg {
          fill: rgba(138,150,163,.7);
          pointer-events: none;
        }
      }
      &.arrows-btn {
        background: transparent;
        padding: 0;
        margin: 0;
      }
      &.confirm-btn {
        width: 48px;
        height: 48px;
        border-radius: 1000px;
        border: none;
        background: #00aff0;
        color: #fff;

        svg {
          font-size: 24px;
          width: 1em;
          height: 1em;
          fill: #fff;
        }
      }
    }
  }
}
