//messages-page
.messages-page {
	max-width: 1200px;
	margin: auto;

  .btn {
		position: relative;
		
		&:hover, &:focus {
			color: #0091ea;
			outline: none;
			box-shadow: none;
		}
		&:hover:after, &:focus:after {
			opacity: 0.06;
		}
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: 36px;
			height: 36px;
			transform: translate(-50%,-50%);
			transition: opacity .15s;
			pointer-events: none;
			opacity: 0;
			border-radius: 1000px;
			background-color: #0091ea;
			display: block;
		}
	}

	.card-body {
		padding: 0;
		.message-col-8 {
			padding: 0px;
			display: flex;
			flex-direction: column;

			.message-search {
        .top-bar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 4px 16px;
          height: 56px;
          border-bottom: 1px solid rgba(138,150,163,.25);
          & > div {
            display: flex;
            align-items: center;
          }
          .btn {
            height: 28px;
            width: 28px;
            padding: 4px;
            margin: 0 8px;
            min-height: 0;
            position: relative;
            
            i {
              font-size: 18px;
              font-weight: 600;
            }
          }
          .top-bar-title {
            font-size: 19px;
              font-weight: 600;
            line-height: 1em;
          }
        }
        .user-search-bar {
          padding-top: 0;
          height: auto;
          padding-bottom: 5px;
          border-bottom: solid 1px #00aff0;

          input {
            flex: 1;
            padding: 0;
            border: none;
            box-shadow: none;
          }
          .btn {
            i {
              color: #0091ea;
            }
            &:disabled {
              i {
                color: lightgray;
              }
            }
          }
        }
      }
			.conversation-header {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				border-bottom: solid 1px rgba(138,150,163, .25);
				padding: 8px 16px 8px 4px;
				&.no-border {
					border: none;
				}
				.btn {
					height: 28px;
					padding: 4px;
					margin: 0 8px;
					min-height: 0;
					position: relative;
					
					i {
						font-size: 16px;
						font-weight: 600;
					}
				}

				.content {
					flex: 1;
					.user-name {
						color: #000;
						font-size: 18px;
					}
					.details {
						display: flex;
						align-items: center;

						.v-divider {
							background: rgba(138,150,163,.2);
							width: 1px;
							height: 12px;
							margin: 0 10px; 
						}
						
						.online-status {
							color: #8a96a3;
							font-size: 13px;
							white-space: nowrap;
							line-height: 21px;
							display: flex;
							align-items: center;
							i {
								color: #35d063;
								font-size: 10px;
								margin-right: 5px;
							}
						}
						.btn {
							padding: 0 4px;
							margin: 0; 
							min-height: 0;
							position: relative;
							color: #8a96a3;
							font-size: 13px;
							display: flex;
							align-items: center;
						
							svg {
								width: 11px;
								padding: 0 1px;
								box-sizing: content-box;
							}
							svg[data-icon="bell-slash"] {
								width: 13px;
								padding: 0;
							}
							&:after {
								display: none;
							}
							&:hover {
								color: #0091ea;
								svg path {
									fill: #0091ea;
								}
							}
							&:hover:after {
								opacity: 0;
							}
						}

					}
				}
			}
			.conversation-list {
				flex: 1;
				display: flex;
				overflow-y: scroll;
				padding: 8px;
				flex-direction: column;

				&::-webkit-scrollbar-track
				{
					-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.02);
					background-color: transparent;
				}
				&::-webkit-scrollbar
				{
					width: 4px;
					margin-right: -2px;
					background-color: transparent;
				}
				&::-webkit-scrollbar-thumb
				{
					background-color: #999;
					border-radius: 5px;
					opacity: 0.8;
				}
				.empty-messages {
					text-align: center;
					height: 100%;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				.message-group-time {
					font-size: 11px;
					line-height: 15px;
					text-align: center;
					color: #8a96a3;
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 10px;
					span {
						padding: 0 10px;
					}
					&:after, &:before {
						content: '';
						display: block;
						flex: 1;
						height: 1px;
						background: rgba(138,150,163,.2);
					}
				}
				.message {
					.user-logo {
						width: 42px;
						height: 42px;
						border-radius: 50%;
						overflow: hidden;
						margin-right: 8px;
						border: solid 2px #fff;
						align-self: flex-end;
						margin-bottom: 25px;

						img {
							width: 100%;
							height: 100%;
						}
						&.text-logo { 
							display: flex;
							align-items: center;
							justify-content: center;
							color: #00aff0;
							font-weight: 700;
							font-size: 14px;
							background: rgba(138,150,163,.12);
							letter-spacing: 0;
							text-transform: uppercase;
						}
					}
					.content {
						flex: 1;
					}
					.text {
						border-radius: 6px;
						padding: 9px 12px;
						color: #1a1a1a;
						font-weight: 300;
						font-size: 16px;
						line-height: 24px;
					}
					.time {
						font-size: 11px;
						color: #8a96a3;
						white-space: nowrap;
						width: 100%;
						margin: 4px 0 8px;
						display: flex;
						align-items: center;
						height: 14px;

						.payment-state {
							font-weight: 500;
							font-size: 11px;
							color: #8a96a3;
						}
					}
					.received {
						max-width: 75%;
						display: flex;
						align-items: flex-start;
						margin: 8px 0;

						.non-paid-message {

							.non-paid-message-block {
								background: url(../../../static/images/price-message-bg.png) no-repeat;
								background-size: 100% 100%;
								border-radius: 6px;
							}
							.text {
								margin-top: 10px !important;
							}
							.lock-icon-wrapper {
								position: relative;
								height: 240px;
								svg {
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									width: 64px;
									fill: #8a96a3;
									opacity: 0.25;
								}
							}
							.b-purchase {
								padding: 0 16px 16px;
								.purchase-block {
									border: 1px solid rgba(138, 150, 163, 0.25);
									border-radius: 6px;
									padding: 14px 16px 16px;
								}
								.content-icons {
									display: flex;
									align-items: center;
									justify-content: space-between;

									.media-count, .media-price {
										display: flex;
										align-items: center;
									}
									.media-icon {
										display: flex;
										align-items: center;
										&:last-child .divide-dot {
											display: none;
										}
									}

									span {
										font-size: 12px;
										line-height: 14px;
										color: #8a96a3;
										margin-left: 4px;

										&.divide-dot {
											margin: 0 6px;
										}
									}	
									svg {
										width: 16px;
										fill: #8a96a3;
									}
								}
								.unlock-btn {
									border: none;
									padding: 9px 18px;
									font-size: 14px;
									color: #fefefe;
									font-weight: 500;
									background: #00aff0;
									min-width: 78px;
									transition: opacity .15s ease,background-color .15s ease,box-shadow .15s ease;
									display: inline-block;
									white-space: nowrap;
									text-align: center;
									width: 100%;
									margin-top: 14px;
								}
							}
						}

						.text {
							background: rgba(138,150,163,.12);
							border-bottom-left-radius: 0;
						}
						.image {
							margin-bottom: 8px;

							img, video {
								width: 100%;
								border-radius: 6px;

								&[lazy="loaded"] + .loading-image {
									display: none;
								}
								&[lazy="loading"] {
									height: 0;
									visibility: hidden;
									overflow: hidden;
								}
								&[lazy="loading"] + .loading-image {
									display: inline-block;
									box-shadow: inset 0px 1px 8px 1px #0000002e;
									background: rgba(0, 0, 0, 0.1);
								}
							}
							audio {
								width: 100%;
								outline: none;
							}
						}
					}
					.sent {
						max-width: 75%;
						display: flex;
						margin: 8px 0 8px auto;
						justify-content: flex-end;
						flex-direction: column;

						.text {
							margin-left: auto;
							background: rgb(218 237 255 / 53%);
							border-bottom-right-radius: 0;
							position: relative;

							.icon-undo {
								position: absolute;
								bottom: 0;
								right: 0;
								transform: translate(40%, 5%);
								width: 21px;
								height: 21px;
								border-radius: 50%;
								background-color: #00aff0;
								fill: #fff;
								padding: 1px;
								cursor: pointer;
								&:hover {
									background-color: #0091ea;
								}
							}
						}
						.time {
							justify-content: flex-end;

							.payment-state {
								font-weight: 500;
								font-size: 11px;
								color: #8a96a3;
							}
							svg {
								width: 18px;
								fill: rgb(138, 150, 163);
								margin: -2px 0 -2px 3px;
								opacity: .7;
							}
						}
						.image {
							margin-bottom: 8px;

							img, video {
								width: 100%;
								border-radius: 6px;
								
								&[lazy="loaded"] + .loading-image {
									display: none;
								}
								&[lazy="loading"] {
									height: 0;
									visibility: hidden;
									overflow: hidden;
								}
								&[lazy="loading"] + .loading-image {
									display: inline-block;
									box-shadow: inset 0px 1px 8px 1px #0000002e;
									background: rgba(0, 0, 0, 0.1);
								}
							}
							audio {
								width: 100%;
								outline: none;
							}
						}
					}
					
				}
			}
			.coversation-tree {
				position: relative;
				height: calc(100vh - 156px);
				overflow: auto;
			}
			.conversations-start {
				position: absolute;
				top: 50%;
				left: 50%;
				width: max-content;
				transform: translate(-50%, -50%);
				text-align: center;
				button {
					border: none;
					padding: 9px 18px;
					font-size: 14px;
					color: #fefefe;
					font-weight: 500;
					background: #00aff0;
					min-width: 78px;
					transition: opacity .15s ease,background-color .15s ease,box-shadow .15s ease;
					display: inline-block;
					white-space: nowrap;
					text-align: center;
					height: 48px;
					width: 250px;
					line-height: 1em;
					border-radius: 24px;
					text-transform: uppercase;
				}
				.conversations-start__title {
					font-size: 24px;
					font-weight: 500;
					margin-bottom: 38px;
				}
			}
			

			.conversation {
				.left-side {
					float: left;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 600;
					text-transform: capitalize;
					font-size: 18px;
					color: #354052;
					padding-top: 21px;
					padding-left: 20px;

					.chat-status {
						height: 8px;
						width: 8px;
						border-radius: 50%;
						background: #1BB934;
						display: inline-block;
						margin-left: 4px;
					}
				}

				.right-side {
					float: right;
					padding-top: 19px;

					.primary-list {
						&>li {
							padding-left: 20px;
							padding-right: 18px;
						}
					}

					ul {
						margin-bottom: 0px;
						margin-top: 0px;
					}

					.pagination {
						li {
							a {
								background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
								border: 1px solid #CED0DA;

								i {
									color: #7F8FA4;
									font-size: 18px;
									vertical-align: middle;
								}
							}
						}
					}

					.pagination.latest {
						li a i {
							color: #CED0DA;
						}
					}

					.divider {
						background: #E6EAEE;
						width: 1px;
						height: 34px;
						padding: 0px !important;
						vertical-align: top;
						margin-left: 4px;
					}

					.page-number {
						vertical-align: top;
						margin-top: 8px;
						font-family: 'Source Sans Pro', sans-serif;
						color: #7F8FA4;
						font-weight: 600;
					}
				}
			}
		}
		.conversation-footer {
			padding: 0 8px;
			border-top: solid 1px rgba(138, 150, 163, 0.25);

			&.price-view {
				.action-btns > div {
					background: rgba(0,175,240,.12);
					border-radius: 8px;
				}
				.swiper-slider {
					background: rgba(0,175,240,.12);
				}
				textarea {
					background: rgba(0,175,240,.12);
					border-bottom-right-radius: 8px;
					border-bottom-left-radius: 8px;
				}
				.price-to-view-header {
					margin-top: 8px;
					border-top-right-radius: 8px;
					border-top-left-radius: 8px;
					background: rgba(0,175,240,.12);
					padding: 8px;
					
					.price-to-view-title {
						display: flex;
						align-items: center;
						font-weight: 500;

						svg {
							width: 20px;
							fill: #00aff0;
						}
						span {
							padding-left: 6px;
    					font-size: 15px;
						}
					}
					
					.price-to-view-side {
						display: flex;
						align-items: center;
						span {
							margin-right: 12px;
							font-size: 15px;
							font-weight: 400;
						}
						svg {
							width: 19px;
							padding: 2px;
							fill: #fff;
							background: #00aff0;
							border-radius: 50%;
							cursor: pointer;
						}
					}
				}
			}

			textarea {
				overflow: hidden;
				overflow-wrap: break-word;
				height: 56px;
				border: none;
				border-radius: 0;
				padding: 10px 10px;
				background: transparent;
				resize: none;
				max-height: 215px;
				font-size: 16px;
				line-height: 24px;
				width: 100%;
				transition: border-bottom-color 0.3s ease;
				box-shadow: none;
				outline: none;
				display: block;
			}
			.action-btns {
				display: flex;
				align-items: center;
				padding: 7px 0 9px;
				justify-content: space-between;

				.action-btn {
					padding: 6px;
					margin: 0 3px 0 0;
					color: #8a96a3;
					height: 36px;
					width: 36px;
					font-size: 18px;
					border: none;
					svg {
						width: 24px;
						height: 24px;
						display: block;
						transition: transform .15s ease;
						&.dollar {
							padding: 2px;
							border: solid 2px #8a96a3;
							border-radius: 50%;
						}
					}
					&:hover {
						svg path {
							fill: #00aff0;
						}
						.dollar {
							border: solid 2px #00aff0;
						}
					}
				}
				
				.send-btn {
					border-radius: 1000px;
					border: none;
					padding: 9px 18px;
					font-size: 14px;
					line-height: 18px;
					color: #fefefe;
					font-weight: 500;
					background: #00aff0;
					min-width: 78px;
					transition: opacity .15s ease,background-color .15s ease,box-shadow .15s ease;
					display: inline-block;
					white-space: nowrap;
					text-align: center;
					text-transform: uppercase;
				
					&:disabled {
						opacity: .2;
						background: rgba(138,150,163,.75);
						pointer-events: none;
					}
				}
			}
		}
		.coversations-thread {
			height: 607px;
			overflow-y: auto;
			overflow-x: hidden;
			padding-bottom: 100px;
		}

		.message-conversation {
			border-bottom: 0px;
			padding: 0px 30px 0px 15px;

			.media.post-list {
				border-bottom: 0px;
				padding-bottom: 0px;
				padding-top: 10px;
			}

			.post-text {
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 400;
				font-size: 14px;
				color: #354052;
				line-height: 19px;

			}

			&:first-child {
				padding-top: 5px;
			} 

			.media-body {
				padding-left: 10px;

				.media-heading {
					a {
						font-family: 'Source Sans Pro', sans-serif;
						font-size: 14px;
					}

					.text-muted {
						font-family: 'Source Sans Pro', sans-serif;
						margin-left: 11px;
						float: right;

						.timeago {
							font-size: 11px;
						}
					}
				}

				.post-text {
					// margin-top: 3px;
					font-family: 'Source Sans Pro', sans-serif;
				}

			}

			.post-pictures {
				margin-bottom: 0px;
				padding-top: 5px;
				padding-left: 90px;
				padding-right: 30px;

				.post-row {
					.image-col {
						position: relative;
						padding-left: 7px;
						padding-right: 7px;

						.img-holder {
							background-color: #000;
							border-radius: 4px;

							img {
								width: 100%;
								height: auto;
							}
						}

						.img-search {
							height: 50px;
							width: 50px;
							border-radius: 50%;
							background: rgba(255, 255, 255, 0.30);
							position: absolute;
							top: 50%;
							margin-top: -25px;
							left: 50%;
							margin-left: -25px;
							text-align: center;
							line-height: 55px;
							display: none;

							i {
								color: #FFFFFF;
								font-size: 20px;
							}
						}

						&:hover {
							img {
								opacity: 0.5;
							}

							.img-search {
								display: block;
							}
						}
					}
				}
			}
		}

		.message-holder {
			padding: 15px 5px 15px 15px;
			position: relative;
			border-bottom: 1px solid #E6EAEE;

			&:hover {
				background-color: #FAFBFC;
			}

			.show-conversation {
				text-decoration: none;
			}

			&:last-child {
				border-bottom: 1px solid transparent;
			}

			.media.post-list {
				border-bottom-width: 0px;
				padding-top: 0px;
				padding-bottom: 0px;

				.post-time {
					font-family: 'Source Sans Pro', sans-serif;
					text-transform: capitalize;
				}
				.media-heading {

					font-family: 'Source Sans Pro', sans-serif;
					display: block;
					height: 26px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					color: #00AAFF;

					.chat-circle {
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: #00AAFF;
						margin-right: 5px;
						display: inline-block;
					}

					.text-muted {
						display: block;
						font-family: 'Source Sans Pro', sans-serif;
						margin-top: -4px;
					}

					span {
						margin-left: 0px;
					}
				}
			}

			.post-text {
				padding-left: 0px;

				// margin-top: -6px;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 13px;
				color: #354052;
				font-weight: 600;
				max-height: 42px;
				overflow: hidden;
				width: 180px;
				text-overflow: ellipsis;
				line-height: 20px;
				position: relative;
			}
		}

		.unseen-messages {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-image: linear-gradient(-1deg, #1991EB 2%, #2DA1F8 98%);
			color: #fff;
			text-align: center;
			line-height: 24px;
			display: none;
			position: absolute;
			bottom: 27px;
			right: 20px;
		}

		.directing-div {
			width: 100%;
			height: 100%;
			background-color: transparent;
			position: absolute;
			left: 0px;
			top: 0px;
		}

		.message-holder.active {
			border-left: 3px solid #2399F1;
			position: relative;

			.media-heading {
				a {
					color: #00AAFF;
				}
			}
		}

		.message-holder.unseen-message {
			.unseen-messages {
				display: inline-block;
			}
		}

		.message-divider {
			border-bottom: 1px solid #E3E8EF;
			position: relative;
			margin-top: 26px;
			margin-bottom: 6px;

			.day {
				padding: 0px 13px 0px 14px;
				height: 52px;
				background-color: red;
				text-transform: capitalize;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 400;
				font-size: 14px;
				color: #7F8FA4;
				line-height: 52px;
				text-align: center;
				position: absolute;
				top: -26px;
				left: 50%;
				margin-left: -43px;
				background-color: #fff;
			}
		}

		.message-divider.blue {
			border-bottom: 1px solid #1A91EB;

			.day {
				color: #1A91EB;
			}
		}

		.new-message {
			padding: 14px 16px 20px 16px;
			width: 100%;
			position: absolute;
			bottom: 0px;
			background: white;

			.input-group-btn {
				.btn {
					height: 56px;
					width: 56px;
					line-height: 18px;
					border: 1px solid transparent;
					border-radius: 4px;
					box-shadow: none;
					outline: none;
					font-size: 30px;
					padding: 0px;
					padding-bottom: 0;
					color: #fff;
					background: #298ad3;

					i {
						font-size: 24px;
					}
				}
			}

			.form-control {
				height: 56px;
				padding-top: 10px;
				margin-right: 10px;
				border-radius: 4px;

				&:focus {
					border: 1px solid #DFE3E9;
				}
			}
		}

		.message-box {
			border-top: 1px solid #E6EAEE;
			// display: table;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			overflow: hidden;
			margin: 0px !important;
			width: 100%;
			height: calc(100vh - 156px);

			.message-col-8 {
        height: 100%;
        .conversation-list {
          .messages {
            flex: 1;
            padding-bottom: 0.5em;
          }
      
        }
        .search-results {
          .search-results-count {
            font-size: 12px;
            margin-right: 8px;
          }
          .btn {
            margin: 0 2px !important;
      
            &:disabled svg {
              fill: gray;
            }
      
            &::after {
              width: 24px;
              height: 24px;
            }
      
            svg {
              display: block;
            }
          }
        }
      }
      .conversation-footer {
        input[type="file"] {
          display: none;
        }
        .action-btn[disabled="disabled"] {
          opacity: 0.65;
        }
        .sort-change-div {
          flex: 1;
          display: flex;
          align-items: center;
          .drag-element {
            width: 96px;
            margin: 0 4px;
            background: rgba(138,150,163,.12);
            border-radius: 6px;
            position: relative;
        
            &:last-child {
              margin-right: 0;
            }
            .img-wrapper {
              position: relative;
              img, video {
                margin: 0;
                width: 100%;
                max-width: unset;
                border-radius: 6px 6px 0 0;
                height: 96px;
                object-fit: cover;
              }
							.audio {
								font-size: 11px;
								height: 96px;
								display: inline-flex;
								align-items: center;
								justify-content: center;
								width: 100%;
								padding: 8px;
								border-radius: 6px 6px 0 0;
								background: rgb(138 150 163 / 35%);
								border-bottom: solid 1px #fff;
								span {
									display: block;
									width: 100%;
								}
							}
              .unchecked-circle,
              .checked-circle {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border: 1px solid #fff;
                cursor: pointer;
              }
              .checked-circle {
                background: #00aff0;
                color: #fefefe;
                font-size: 18px;
                line-height: 28px;
                font-weight: 500;
                border: 1px solid #00aff0;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            .handle {
              color: rgba(138,150,163,.7);
              height: 48px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              border: none;
              background: none;
              cursor: pointer;
              svg {
                font-size: 24px;
                width: 1em;
                height: 1em;
                display: inline-block;
                fill: currentColor;
              }
            }
          }
        }
        .sort-action-btns {
          display: flex;
          flex-direction: column;
          align-items: center;
      
          & > div {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }
      
          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
      
            svg {
              fill: #00aff0;
              width: 20px;
              height: 20px;
            }
            &:disabled {
              svg {
                fill: rgba(138,150,163,.7);
                pointer-events: none;
              }
            }
            &.arrows-btn {
              background: transparent;
              padding: 0;
              margin: 0;
            }
            &.confirm-btn {
              width: 48px;
              height: 48px;
              border-radius: 1000px;
              border: none;
              background: #00aff0;
              color: #fff;
      
              svg {
                font-size: 24px;
                width: 1em;
                height: 1em;
                fill: #fff;
              }
            }
          }
        }
      }
		}
    .lists-group {
      padding: 0 16px 16px;
  
      .lists-group-slide {
        width: auto;
        margin-right: 8px;
  
        &:last-child {
          margin-right: 0;
        }
        
      }
  
      .lists-item {
        border-radius: 16px;
        height: 32px;
        width: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: 14px;
        line-height: 1em;
        text-transform: none;
        font-weight: 400;
        color: #242529;
        padding: 8px 14px;
        background-color: rgba(138,150,163,.12);
        transition: background-color .1s,color .1s;
        outline: none;
  
        &.selected {
          background-color: rgba(0,175,240,.25);
        }
        &:disabled {
          opacity: .4;
          pointer-events: none;
        }
        &:hover {
          background-color: rgba(0,145,234,.18);
          color: #0091ea;
        }
  
        &.lists-group-add {
          width: 32px;
          padding: 0;
          svg {
            width: 16px;
            height: 16px;
            fill: currentColor;
          }
        }
      }
    }
  
	}

  /**
  * ==============================================
  * Dot Pulse
  * ==============================================
  */
  .dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(138, 150, 163, 0.62);
    color: rgba(138, 150, 163, 0.62);
    box-shadow: 9999px 0 0 -5px rgba(138, 150, 163, 0.62);
    animation: dotPulse 1.2s infinite linear;
    animation-delay: .25s;
    zoom: 0.5;
    align-self: flex-start;
    margin-left: 30px;
    margin-top: 0;
  }

  .dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(138, 150, 163, 0.62);
    color: rgba(138, 150, 163, 0.62);
  }

  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px rgba(138, 150, 163, 0.62);
    animation: dotPulseBefore 1.2s infinite linear;
    animation-delay: 0s;
  }

  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px rgba(138, 150, 163, 0.62);
    animation: dotPulseAfter 1.2s infinite linear;
    animation-delay: .5s;
  }

  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px rgba(138, 150, 163, 0.62);
    }
    30% {
      box-shadow: 9984px 0 0 2px rgba(138, 150, 163, 0.62);
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px rgba(138, 150, 163, 0.62);
    }
  }

  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px rgba(138, 150, 163, 0.62);
    }
    30% {
      box-shadow: 9999px 0 0 2px rgba(138, 150, 163, 0.62);
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px rgba(138, 150, 163, 0.62);
    }
  }

  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px rgba(138, 150, 163, 0.62);
    }
    30% {
      box-shadow: 10014px 0 0 2px rgba(138, 150, 163, 0.62);
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px rgba(138, 150, 163, 0.62);
    }
  }

}
