//messages-page
.messages-page {
	max-width: 1200px;
	margin: auto;

	.card-body {
		padding: 0;
		min-height: calc(100vh - 160px);
		
		.top-bar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px 4px 16px;
			height: 56px;
			border-bottom: 1px solid rgba(138,150,163,.25);
			& > div {
				display: flex;
				align-items: center;
			}
			.btn {
				height: 28px;
				width: 28px;
				padding: 4px;
				margin: 0 8px;
				min-height: 0;
				position: relative;
				
				i {
					font-size: 18px;
					font-weight: 600;
				}
			}
			.top-bar-title {
				font-size: 19px;
					font-weight: 600;
				line-height: 1em;
			}
		}
		.gallery-content {
			height: calc(100vh - 210px);
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.gallery-content .empty {
			font-size: 18px;
			font-weight: 500;
			color: rgba(138,150,163,.7);
			margin: auto;
		}
		.gallery-list {
			display: flex;
			flex-flow: row wrap;
	
			.img-wrapper {
				overflow: hidden !important;
				width: calc(25% - 2px);
				padding-top: calc(25% - 2px);
				height: 0;
				position: relative;
				border: 1px solid transparent;
	
				img {
					object-fit: cover;
					width: 100%;
					height: auto;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
				&:hover {
					border: solid 1px #1a1a1a;
				}
			}
		}
	}
}
