//messages-page
.messages-page {
	max-width: 1200px;
	margin: auto;

	.btn {
		position: relative;
		
		&:hover, &:focus {
			color: #0091ea;
			outline: none;
			box-shadow: none;
		}
		&:hover:after, &:focus:after {
			opacity: 0.06;
		}
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: 36px;
			height: 36px;
			transform: translate(-50%,-50%);
			transition: opacity .15s;
			pointer-events: none;
			opacity: 0;
			border-radius: 1000px;
			background-color: #0091ea;
			display: block;
		}
	}
	.sort-icon, .filter-icon {
		transform: none !important;
		margin-left: auto;
		position: relative;
		width: 1em;
		min-width: 1em;
		display: inline-block;
		fill: currentColor;
		line-height: 1;
		font-size: 24px;
		margin: 0;
		height: 1em;
	}
	.filter-icon {
		fill: rgba(138, 150, 163, 0.75);
	}

	.card-body {
		padding: 0;
		.top-bar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px 4px 16px;
			height: 56px;
			border-bottom: 1px solid rgba(138,150,163,.25);
			& > div {
				display: flex;
				align-items: center;
			}
			.btn {
				height: 28px;
				width: 28px;
				padding: 4px;
				margin: 0 8px;
				min-height: 0;
				position: relative;
				
				i {
					font-size: 18px;
					font-weight: 600;
				}
			}
			.top-bar-title {
				font-size: 19px;
    			font-weight: 600;
				line-height: 1em;
			}
		}
		.user-search-bar {
			height: 56px;
			background-color: #f6f7f8;
			border-bottom: none;

 			input {
				flex: 1;
				padding: 0;
				border: none;
				box-shadow: none;
				background: transparent;
			}
			.btn {
				i {
					color: rgba(138,150,163,.7);
				}
				&:disabled {
					i {
						color: rgba(138,150,163,.7);
						opacity: 1;
					}
				}
			}
		}
		.options-bar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 16px;
			
			.selected-option {
				text-transform: uppercase;
				color: rgb(138, 150, 163);
				font-weight: 400;
				font-size: 16px;
			}
		}
		.message-col-4 {
			padding-right: 0px;
			border-right: 1px solid #E6EAEE;
			height: 100%;
			display: flex;
			flex-direction: column;

			ul {
				margin-bottom: 0px;
			}

			.user-list-container {
				flex: 1;
				overflow-y: auto;
			}
			.user-list {
				list-style: none;
				padding: 0;

				li {
					width: 100%;
					cursor: pointer;
					border-top: solid 1px transparent;

					&.selected {
						background: rgba(0,145,234,.06);
						border-bottom: solid 1px rgba(138, 150, 163, 0.25);
						.divider {
							display: none;
						}
						&:hover {
							.user-content {
								background: transparent;
								border-radius: 0;
							}
						}
					}
					.divider {
						margin-left: 84px;
						height: 1px;
						width: calc(100% - 84px);
						background: rgba(138, 150, 163, 0.25);
					}
					.user-content {
						display: flex;
						align-items: center;
						padding-left: 12px;
						margin: 8px;
						height: 64px;
					}
					&:hover {
						.user-content {
							background: rgba(0,145,234,.06);
							border-radius: 8px;
						}
					}
					.user-logo {
						width: 52px;
						height: 52px;
						border-radius: 50%;
						overflow: hidden;
						margin-right: 16px;
						border: solid 2px #fff;
						img {
							width: 100%;
							height: 100%;
						}
						&.text-logo {
							display: flex;
							align-items: center;
							justify-content: center;
							color: #00aff0;
							font-weight: 700;
							font-size: 16px;
							background: rgba(138,150,163,.12);
							letter-spacing: 0;
							text-transform: uppercase;
						}
					}
					.user-details {
						width: calc(100% - 70px);
						padding: 0;
						padding-right: 8px;
						height: 100%;
						display: flex;
                        align-items: center;
						justify-content: space-between;
						.username {
							font-size: 16px;
							line-height: 1em;
							color: rgb(36, 37, 41);
							font-weight: 500;
						}
						.user-id {
							font-size: 15px;
							color:rgba(138, 150, 163, 0.75)
							;
						}
                        &:hover .round__checkbox .b-input-ripple:before {
                            opacity: 1;
                            transform: scale(1);
                        }
					}
				}
			}
			.user-details-row {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-bottom: 3px;
				.user-details-row:last-child {
					padding-bottom: 0;
				}
			}
		}

		.message-col-8 {
			padding: 0px;
			display: flex;
			flex-direction: column;

			.message-search .user-search-bar {
				padding-top: 0;
				height: auto;
				padding-bottom: 5px;
				border-bottom: solid 1px #00aff0;
			}
			.conversation-header {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				border-bottom: solid 1px rgba(138,150,163, .25);
				padding: 0 16px 0 12px;

				.content {
					flex: 1;
					padding: 15px 4px 15px;
                    font-size: 19px;
                    line-height: 25px;
                    font-weight: 500;
                    height: 55px;
				}
			}
			.conversation-list {
				flex: 1;
				display: flex; 
				align-items: flex-end;
				overflow-y: auto;
			}
		}
		.conversation-footer {
			padding: 0 8px;
			border-top: solid 1px rgba(138, 150, 163, 0.25);

			input[type="file"] {
				display: none;
			}
			.action-btn[disabled="disabled"] {
				opacity: 0.65;
			}
			.sort-change-div {
				flex: 1;
				display: flex;
				align-items: center;
				.drag-element {
					width: 96px;
					margin: 0 4px;
					background: rgba(138,150,163,.12);
					border-radius: 6px;
					position: relative;
			
					&:last-child {
						margin-right: 0;
					}
					.img-wrapper {
						position: relative;
						img, video {
							margin: 0;
							width: 100%;
							max-width: unset;
							border-radius: 6px 6px 0 0;
							height: 96px;
							object-fit: cover;
						}
						.audio {
							font-size: 11px;
							height: 96px;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							width: 100%;
							padding: 8px;
							border-radius: 6px 6px 0 0;
							background: rgb(138 150 163 / 35%);
							border-bottom: solid 1px #fff;
							span {
								display: block;
								width: 100%;
							}
						}
						.unchecked-circle,
						.checked-circle {
							width: 30px;
							height: 30px;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							border-radius: 50%;
							border: 1px solid #fff;
							cursor: pointer;
						}
						.checked-circle {
							background: #00aff0;
							color: #fefefe;
							font-size: 18px;
							line-height: 28px;
							font-weight: 500;
							border: 1px solid #00aff0;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
					.handle {
						color: rgba(138,150,163,.7);
						height: 48px;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						border: none;
						background: none;
						cursor: pointer;
						svg {
							font-size: 24px;
							width: 1em;
							height: 1em;
							display: inline-block;
							fill: currentColor;
						}
					}
				}
			}
			.sort-action-btns {
				display: flex;
				flex-direction: column;
				align-items: center;
		
				& > div {
					flex: 1;
					display: flex;
					align-items: center;
					justify-content: center;
				}
		
				.btn {
					display: flex;
					align-items: center;
					justify-content: center;
		
					svg {
						fill: #00aff0;
						width: 20px;
						height: 20px;
					}
					&:disabled {
						svg {
							fill: rgba(138,150,163,.7);
							pointer-events: none;
						}
					}
					&.arrows-btn {
						background: transparent;
						padding: 0;
						margin: 0;
					}
					&.confirm-btn {
						width: 48px;
						height: 48px;
						border-radius: 1000px;
						border: none;
						background: #00aff0;
						color: #fff;
		
						svg {
							font-size: 24px;
							width: 1em;
							height: 1em;
							fill: #fff;
						}
					}
				}
			}

			&.price-view {
				.action-btns > div {
					background: rgba(0,175,240,.12);
					border-radius: 8px;
				}
				.swiper-slider {
					background: rgba(0,175,240,.12);
				}
				textarea {
					background: rgba(0,175,240,.12);
					border-bottom-right-radius: 8px;
					border-bottom-left-radius: 8px;
				}
				.price-to-view-header {
					margin-top: 8px;
					border-top-right-radius: 8px;
					border-top-left-radius: 8px;
					background: rgba(0,175,240,.12);
					padding: 8px;
					
					.price-to-view-title {
						display: flex;
						align-items: center;
						font-weight: 500;

						svg {
							width: 20px;
							fill: #00aff0;
						}
						span {
							padding-left: 6px;
    					font-size: 15px;
						}
					}
					
					.price-to-view-side {
						display: flex;
						align-items: center;
						span {
							margin-right: 12px;
							font-size: 15px;
							font-weight: 400;
						}
						svg {
							width: 19px;
							padding: 2px;
							fill: #fff;
							background: #00aff0;
							border-radius: 50%;
							cursor: pointer;
						}
					}
				}
			}

			&.audio-recorder {
				padding: 1em;

				.audio-recorder-header {
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-weight: 500;

					.icon-voice {
						width: 24px;
						height: 24px;
						fill: #00aff0;
						margin-right: 4px;
					}
					.icon-close {
						padding: 0;
						svg {
							width: 24px;
							fill: #000;
						}
					}
				}
				.audio-recorder-content {
					display: flex;
					flex-direction: column;
					align-items: center;
					font-size: 24px;
					.duration {
						display: flex;
						align-items: center;
						margin: 0.3em 0 0.5em 4px;

						span {
							width: 40px;
							&:first-child {
								text-align: right;
							}
						}
					}
					.vue-audio-recorder,
					.vue-audio-recorder:hover {
						background-color: #00aff0;
					}
					.vue-audio-recorder.active {
						background-color: #ef5350;
					}
				}
			}

			.scheduled-message-head {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 36px !important;
				padding: 6px;
				border-radius: 6px;
				margin: 0.5em 0 -0.5em;
				background: rgba(138,150,163,.12);

				.icon-schedule {
					fill: #00aff0;
					margin-right: 6px;
					width: 22px;
				}
				strong {
					letter-spacing: -0.2px;
				}
				& > div {
					font-size: 13px;
					flex: 0 1 100%;
					max-width: 100%;
					display: flex;
					align-items: center;
				}
				.close-btn {
					padding: 2px;
					background: #00aff0;
					border: none;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;

					.icon-close {
						fill: #fefefe;
						width: 18px;
					}
				}
				
			}

			textarea {
				overflow: hidden;
				overflow-wrap: break-word;
				height: 56px;
				border: none;
				border-radius: 0;
				padding: 16px 8px;
				background: transparent;
				resize: none;
				max-height: 215px;
				font-size: 16px;
				line-height: 24px;
				width: 100%;
				transition: border-bottom-color 0.3s ease;
				box-shadow: none;
				outline: none;
				display: block;
			}
			.action-btns {
				display: flex;
				align-items: center;
				padding: 7px 0 9px;
				justify-content: space-between;

				.action-btn {
					padding: 6px;
					margin: 0 3px 0 0;
					color: #8a96a3;
					height: 36px;
					width: 36px;
					border: none;
					svg {
						width: 24px;
						height: 24px;
						display: block;
						transition: transform .15s ease;
						&.dollar {
							padding: 2px;
							border: solid 2px #8a96a3;
							border-radius: 50%;
						}
					}
					&:hover {
						svg path {
							fill: #00aff0;
						}
						.dollar {
							border: solid 2px #00aff0;
						}
					}
				}
				
				.send-btn {
					border-radius: 1000px;
					border: none;
					padding: 9px 18px;
					font-size: 14px;
					line-height: 18px;
					color: #fefefe;
					font-weight: 500;
					background: #00aff0;
					min-width: 78px;
					transition: opacity .15s ease,background-color .15s ease,box-shadow .15s ease;
					display: inline-block;
					white-space: nowrap;
					text-align: center;
					text-transform: uppercase;
				
					&:disabled {
						opacity: .2;
						background: rgba(138,150,163,.75);
						pointer-events: none;
					}
				}
			}
		}

		.message-box {
			border-top: 1px solid #E6EAEE;
			// display: table;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			overflow: hidden;
			margin: 0px !important;
			width: 100%;
			height: calc(100vh - 156px);

			.message-col-4 {
				.coversations-list {
					height: 597px;
					overflow-y: scroll;
					overflow-x: hidden;
				}

				padding-left: 0px;
			}
		}
	}
}
